$grey: #8d9bad;
$white: #ffffffff;
$darkBlack: #161c24;
$orange: #fa541c;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.head {
  display: flex;
  flex-direction: row;
  position: sticky;
  margin: 0;
  background-color: $darkBlack;
  height: 100%;
  width: 100%;
  padding: 25px 0;
  padding-left: 60px;
  padding-right: 60px;
  top: 0;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}
.head-login {
  display: flex;
  flex-direction: row;
  position: sticky;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  background-color: $darkBlack;
  height: 100%;
  width: 100%;
  padding: 25px 0;
  padding-left: 60px;
  padding-right: 60px;
  top: 0;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}
.shrink {
  position: sticky;
  padding: 20px 0;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgba(22, 28, 36, 0.9);
  //background-color: aqua;
}
nav {
  width: 50%;
  margin: 0;
  display: flex;
  flex-direction: row;
  //   align-items: flex-end;
  // justify-content: space-around;
  //   text-align: center;
}
.support {
  color: #ffffff;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  font-family: Poppins-Regular;
  text-decoration: none;
  transition: 0.3s;
}
.support:hover {
  color: #ffffff;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  font-family: Poppins-Regular;
  text-decoration: underline #ffffff;
}
nav a {
  z-index: 9999;
  padding-top: 5px;
  color: $grey;
  font-family: Poppins-Medium;
  font-size: 14px;
  text-decoration: none;
  // list-style-type: none;
  //   display: inline-block;
  padding-left: 30px;
}
nav a.active::before {
  top: 37px;
  width: 6px;
  height: 6px;
  bottom: 0px;
  // left: 165px;
  content: "";
  transform: translateX(-180%);
  display: block;
  // padding-right: px;
  // margin: auto 0px;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(250, 84, 28);
}
nav a.active {
  color: #ffffffff;
}

.btnGrp {
  width: calc(100% - 55%);

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  // margin-right: 20px;
  .signin:hover {
    background-color: $darkBlack;
    color: $white;
    border: 1px solid $white;
  }
  .signup:hover {
    background-color: #d13d0c;
    border: 1px solid #d13d0c;
  }
}
.btnGrp .signin {
  background-color: $darkBlack;
  color: $white;
  margin-right: 8px;
  border: 1px solid grey;
  transition: 0.3s;
}
.btnGrp .signup {
  color: $white;
  background-color: $orange;
  border: 1px solid $orange;
}
.btn {
  font-family: Poppins-SemiBold;
  padding: 7px;
  width: 15%;
  border-radius: 8px;
  transition: 0.3s;
}
.btn:hover {
  cursor: pointer;
  font-family: Poppins-SemiBold;
  padding: 7px;
  width: 15%;
  border-radius: 8px;
}
